main {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  perspective: 2000px;
  perspective-origin: 50% 50%;
}

main>section {
  position: relative;
  z-index: 1;
  margin-bottom: 300vh;
  transform-style: preserve-3d;
  will-change: transform, opacity;
}

main>section:last-child {
  margin-bottom: 0;
}