main {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

main>section {
  position: relative;
  z-index: 1;
  margin-bottom: 300vh;
}

main>section:last-child {
  margin-bottom: 0;
}